<div class="container-fluid p-5">
  <div class="row">
    <!-- Todo -->
    <div class="col-6">
      <div class="d-flex justify-content-between mb-3">
        <h3>Todo</h3>
        <button class="btn btn-primary" (click)="addTodo()">Add Todo</button>
      </div>
      <app-todo-item
        [todoItems]="todos"
        (deleteClicked)="deleteItem($event, true)"
        (markAsDoneClicked)="markAsDone($event)"
      ></app-todo-item>
    </div>

    <!-- Done -->
    <div class="col-6">
      <h3 class="mb-4">Done</h3>
      <app-todo-item
        [todoItems]="done"
        (deleteClicked)="deleteItem($event, false)"
        (markAsDoneClicked)="markAsDone($event)"
      ></app-todo-item>
    </div>
  </div>
</div>
